[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Testing Gerrit Repo
[access "refs/*"]
	owner = group user/Simon Ibssa (ibssasimon)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Simon Ibssa (ibssasimon)
	label-Verified = -1..+1 group user/Simon Ibssa (ibssasimon)
	push = group user/Simon Ibssa (ibssasimon)
	read = group user/Simon Ibssa (ibssasimon)
	rebase = group user/Simon Ibssa (ibssasimon)
	removeReviewer = group user/Simon Ibssa (ibssasimon)
	submit = group user/Simon Ibssa (ibssasimon)
[access "refs/heads/*"]
	create = group user/Simon Ibssa (ibssasimon)
	push = +force group user/Simon Ibssa (ibssasimon)
	pushMerge = group user/Simon Ibssa (ibssasimon)
	read = group user/Simon Ibssa (ibssasimon)
[access "refs/tags/*"]
	push = group user/Simon Ibssa (ibssasimon)
	push = +force group user/Simon Ibssa (ibssasimon)
